resolver: {{stack-resolver}}

packages:
  - .
  - location:
      git: git@git.nejla.com:nejla-ab/common.git
      commit: 8213891ff2e3c56c40a01615d35a3cf46f340c6f
    extra-dep: true

extra-deps:
  - esqueleto-2.5.3
