resolver: {{stack-resolver}}

packages:
  - .
  - location:
      git: git@git.nejla.com:nejla-ab/common.git
      commit: 277934752bea86da042d0989ab6ca7912bd0d8cf
    extra-dep: true

extra-deps:
  - esqueleto-2.5.3

docker:
  enable: true
  image: philonous/stack-build
  auto-pull: true
